
    <div class="panel panel-default" ng-controller="homeViewController">
        <!-- Default panel contents -->
        <div class="panel-heading">Key things to remember when building your first app</div>
        <table class="table">
            <ul class="list-group">
                <li class="list-group-item">Welcome User : {{FirstName}} {{LastName}} {{Gender}}</li>
                <li class="list-group-item">app.module</li>
                <li class="list-group-item">app.route</li>
                <li class="list-group-item">ngroute</li>
                <li class="list-group-item">ngcontroller</li>
                <li class="list-group-item">ngmodel</li>
              </ul>
        </table>
      </div>

        
